streamlit
langchain
langchain-openai
langchain-community
faiss-cpu
pypdf
python-dotenv
uvicorn
gunicorn
langchain-huggingface
langchain-core
sentence-transformers
huggingface-hub
torch
transformers
